%span.parent-likes
  %span.like_count=video.get_likes.size
  &#128591
  - if current_user
    %a
      - if current_user.liked?(video)
        %div
          = link_to like_video_path(video, 'unlike'), class: 'dislike-btn', method: :put, remote: true do
            Dislike
      - else
        %div
          = link_to like_video_path(video, 'like'), class: 'like-btn', method: :put, remote: true do
            Like